
@{
    ViewBag.Title = "Item";
}

<h2>@ViewBag.Title</h2>
<h4>Klik op het gewenste item om deze te bewerken of te verwijderen.</h4>
<hr />
<div class="containerItem">
    <div class="row">
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="AdminScreen">Leerlingen<br><img src="~/images/icons/group.png" alt="Leerlingen" class="btnImg"/></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="">Boeken<br><img src="~/images/icons/books.png" alt="Boeken" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="">CD's<br><img src="~/images/icons/note.png" alt="CD's" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="">DVD's<br><img src="~/images/icons/double.png" alt="DVD's'" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="">Spel<br><img src="~/images/icons/puzzle.png" alt="Spel" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="">Verteltassen<br><img src="~/images/icons/work.png" alt="Verteltassen" class="btnImg" /></a></p>
        </div>
    </div>
</div>
