
@{
    ViewBag.Title = "Item Selectie";
}

<div class="banner">
    <img src="~/images/krekelBanner.png" alt="de krekel banner" />
</div>

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<hr />
<div class="containerItem">
    <div class="row">
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="../Leerling/LenerEnUitlening">Lener &amp; uitlening<br><img src="~/images/icons/group.png" alt="Lener en Uitleningen" class="btnImgLeU"/>
                   <img src="~/images/icons/student.png" alt="Lener en Uitleningen" class="btnImgLeU" />
                </a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="ItemScreen/Boeken">Boeken<br><img src="~/images/icons/books.png" alt="Boeken" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="ItemScreen/Cds">CD's<br><img src="~/images/icons/music.png" alt="CD's" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="ItemScreen/Dvds">DVD's<br><img src="~/images/icons/double.png" alt="DVD's'" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="ItemScreen/Spellen">Spel<br><img src="~/images/icons/puzzle.png" alt="Spel" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="ItemScreen/Verteltassen">Verteltassen<br><img src="~/images/icons/work.png" alt="Verteltassen" class="btnImg" /></a></p>
        </div>
    </div>
</div>
