@{
    ViewBag.Title = "Item Selectie";
}

<div class="banner">
    <img src="~/images/krekelBanner.png" alt="de krekel banner" />
</div>

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<hr />
<div class="containerItem">
    <div class="row">
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="../Leerling/LeerlingScreen">Lener<br><img src="~/images/icons/group.png" alt="Lener en Uitleningen" class="btnImg" /></a></p>
        </div>
        <div class="col-md-1 col-xs-1 col1">
            <p><a class="btn btn-default btnItem" href="../Uitlening/UitleningScreen">Uitlening<br><img src="~/images/icons/student.png" alt="Lener en Uitleningen" class="btnImg" /></a></p>
        </div>
    </div>
</div>