body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/krekelBgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@font-face {
  font-family: 'Grand Hotel';
  src: url('../fonts/GrandHotel-Regular-webfont.eot');
  src: url('../fonts/GrandHotel-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GrandHotel-Regular-webfont.woff') format('woff'), url('../fonts/GrandHotel-Regular-webfont.ttf') format('truetype'), url('../fonts/GrandHotel-Regular-webfont.svg') format('svg');
}

h2 {
    font-family: "Grand Hotel";
    font-size: 40px;
    color: white;
}

a {
    color: brown;
}

a:hover {
    color: violet;
    text-decoration: underline;
}

img{
    width: 100%;
    height: 100%;
}

.banner {
    display: none;
}

footer {
    text-align: center;
}

.btnSearch {
    width: 25%;
    margin: -40px 0 20px 72%;
}

textarea.formListSearch {
    max-width: 100%;
    width: 70%;
    height: 37px;
    resize: none;
    margin: 15px 0 0 0;
    float: left;
}

.btnSearchCol, .searchResult, .col1{
    width: auto;
    margin: 0 0 0 0;
}

.btnItem {
    font-size: 35px;
    font-family: "Grand Hotel", sans-serif;
    width: 200px;
    height: 200px;
    margin: 0 0 0 23%;
    border: none;
    border-radius: 10%;
    box-shadow: 10px 10px 5px black;
    background-color: #7aae03;
}

.btnItem:hover {
    background-color: #9ec062;
}

.btnImg {
    height: 120px;
    width: 120px;
}

.btnImgLeU {
    margin-top: 10px;
    height: 90px;
    width: 80px;
}

.label {
    margin: 0 0 0 10px;
    font-size: 15px;
    color: white;
}

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modalForm, .modalFormTitle {
     width: 300px;
     margin: 0 0 0 10%;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
margin-right: 0;
}

.checkBeschikbaar {
    margin: -27px 0 0 30px;
}

.itemImg {
    height: 200px;
    width: 200px;
    margin: 0 25px 0 0;
    float: left;
}

.pName {
    font-size: 20px;
    font-weight: bold;
}
.itemObj {
    padding: 25px 0 25px 20px;
}
/*Buttons*/
.addOk {
    background-image: url("../images/icons/done.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    background-color: darkgoldenrod;
    border-color: chocolate;
    border-width: 5px;
}
.addOk:hover {
    background-color: darkgreen;
    border-color: chartreuse;
}
.imgSearch {
    width: 25px;
    height: 25px;
}
.btn-success {
    background-color: darkgoldenrod;
    border-color: chocolate;
}

.btn-success:hover {
    background-color: darkgreen;
    border-color: chartreuse;
}

.btnAddLln {
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/addLln.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnEdit {
    margin: 0 25px 5px 0;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/edit.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnRmv {
    margin: 0 0 5px 0;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/deleteTrash.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnAdd {
    height: 50px;
    width: 50px;
    margin: 15px;
    background-image: url("../images/icons/add.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnDet {
    margin: 0 25px 5px 0;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/details.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}
/*tablet screen*/
@media screen and (min-width: 391px) {
    .modal {
         background-color: peru;
         width: 350px;
         height: 800px;
         left: 25%;
         overflow: hidden;
    }
    
}
/*Normal pc screen*/
@media screen and (min-width: 981px) {
    .banner {
        display: inline-block;
        width: 75%;
        height: 75%;
        margin: 0 0 0 130px;
    }
    .btnItem {
        margin: 0 0 0 25%;
    }

    /*.btnSearch {
        width: 55%;
        margin: -78px 0 0 100px;
    }*/

    /*textarea.formListSearch {
        max-width: 300%;
        width: 195%;
        height: 35px;
        resize: none;
        margin: 0 0 10px 0;
        float: left;
    }*/

    /*.search {
        max-width: 100px;
        width: 80px;
    }*/

    .searchResult {
        width: 525px;
        margin: 0 0 0 15px;
    }

    .containerItem {
        margin-left: 90px;

    }
    .modalForm {
        padding-left: 25px;
    }

     .modal {
         left: 40%;
    }
}

