body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/krekelBgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@font-face {
  font-family: 'Grand Hotel';
  src: url('../fonts/GrandHotel-Regular-webfont.eot');
  src: url('../fonts/GrandHotel-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GrandHotel-Regular-webfont.woff') format('woff'), url('../fonts/GrandHotel-Regular-webfont.ttf') format('truetype'), url('../fonts/GrandHotel-Regular-webfont.svg') format('svg');
}

h2 {
    font-family: "Grand Hotel";
    font-size: 40px;
    color: white;
}

h4 {
    margin: 0 15px 0 15px;
}
p, td {
    font-size: 18px;
}

th {
    font-size: 20px;
}
a {
    color: brown;
}

a:hover {
    color: violet;
    text-decoration: underline;
}

img{
    width: 100%;
    height: 100%;
}

.banner {
    display: none;
}

footer {
    text-align: center;
}

.formListSearch {
    background-image: url("../images/icons/search.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 100%;
    width: 70%;
    height: 37px;
    resize: none;
    margin: 15px 0 0 0;
    float: left;
    margin: 0 0 20px 0;
}

.label {
    margin: 0 0 0 10px;
    font-size: 15px;
    color: white;
}

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modalForm, .modalFormTitle {
     width: 300px;
     margin: 0 0 0 10%;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
margin-right: 0;
}

.checkBeschikbaar {
    margin: -27px 0 0 30px;
}

.itemImg, .itemImgEmpty {
    height: 260px;
    width: 200px;
    margin: 0 25px 0 0;
    float: left;
    border: 3px solid chocolate;
    -moz-box-shadow: 0 0 20px chartreuse; 
    -webkit-box-shadow: 0 0 20px chartreuse; 
    box-shadow: 0 0 20px chartreuse; 
}
.gewenstItemImg {
    height: 140px;
    width: 140px;
}
.gewenstItem {
    top: 280px;
    left: 70%;
    position: fixed;
    background: chocolate;
    text-align: center;
    padding-bottom: 20px;
    width: 195px;
    height: 400px;
     z-index: 10;
}
.gewenstItem h2:nth-child(3) {
    margin: 175px 0 0 0 ;
}

.itemImgEmpty {
    background-color: darkgreen;
    border:3px solid chartreuse;
    -moz-box-shadow: 0 0 0; 
    -webkit-box-shadow: 0 0 0; 
    box-shadow: 0 0 0; 
}

.pName {
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
}

.pNameValue, .dl-horizontal dd {
    font-size: 17px;
    font-weight: bold;
}
.itemObj {
    padding: 25px 0 140px 20px;
}

.dl-horizontal dt {
    font-size: 20px;
    font-weight: bolder;
}
.dl-horizontal {
    padding: 0 2px 0 2px;
}
.excelAdd {
    float: right;
    margin: -50px 0 0 0;
}

.excelAdd .addOk {
    background-size: 25px 25px;
    width: 40px;
    height: 40px;
    border-width: 1px;
}

/*Buttons*/
.excelAdd .addOk {
    background-size: 25px 25px;
    width: 40px;
    height: 40px;
    border-width: 1px;
}
.excelAdd .addFile {
    background-image: url("../images/icons/verified.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    background-color: darkgoldenrod;
    border-color: chocolate;
    border-width: 5px;
    margin-left: 20px;
}

.btnClose {
    background-image: url("../images/icons/exit.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    background-color: darkgoldenrod;
    border: 5px solid chocolate;
}
.btnClose:hover {
    background-color: darkgreen;
    border-color: chartreuse;
}
  
.btnSearchCol, .searchResult, .col1{
    width: auto;
    margin: 0 0 0 0;
}

.btnItem {
    font-size: 35px;
    font-family: "Grand Hotel", sans-serif;
    width: 200px;
    height: 200px;
    margin: 0 0 0 23%;
    border: none;
    border-radius: 10%;
    box-shadow: 10px 10px 5px black;
    background-color: #7aae03;
}

.btnItem:hover {
    background-color: #9ec062;
}

.btnImg {
    height: 120px;
    width: 120px;
}

.btnImgLeU {
    margin-top: 10px;
    height: 90px;
    width: 80px;
}
.btnSearch {
    width: 25%;
    margin: -40px 0 20px 72%;
}
.addOk {
    background-image: url("../images/icons/done.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    background-color: darkgoldenrod;
    border-color: chocolate;
    border-width: 5px;
    margin-left: 20px;
}
.addOk:hover {
    background-color: darkgreen;
    border-color: chartreuse;
}
.imgSearch {
    width: 25px;
    height: 25px;
}
.btn-success {
    background-color: darkgoldenrod;
    border-color: chocolate;
}

.btn-success:hover {
    background-color: darkgreen;
    border-color: chartreuse;
}

.btnAddLln {
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/addLln.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnEdit {
    margin: 0 25px 5px 0;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/edit.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnRmv {
    margin: 0 0 5px 0;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/deleteTrash.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnAdd {
    height: 50px;
    width: 50px;
    margin:  -5px 0 0 15px;
    background-image: url("../images/icons/add.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnDet {
    margin: 0 25px 5px 0;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/details.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.btnLeen {
    margin: 0 0 5px 25px;
    height: 50px;
    width: 50px;
    background-image: url("../images/icons/verified.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}
/*tablet screen*/
@media screen and (min-width: 391px) {
    .modal {
         background-color: peru;
         width: 350px;
         height: auto;
         left: 25%;
         overflow: hidden;
    }
    
}
/*Normal pc screen*/
@media screen and (min-width: 981px) {
    .banner {
        display: inline-block;
        width: 75%;
        height: 75%;
        margin: 0 0 0 130px;
    }
    .btnItem {
        margin: 0 0 0 25%;
    }

    /*.btnSearch {
        width: 55%;
        margin: -78px 0 0 100px;
    }*/

    /*textarea.formListSearch {
        max-width: 300%;
        width: 195%;
        height: 35px;
        resize: none;
        margin: 0 0 10px 0;
        float: left;
    }*/

    /*.search {
        max-width: 100px;
        width: 80px;
    }*/

    .searchResult {
        width: 525px;
        margin: 0 0 0 15px;
    }

    .containerItem {
        margin-left: 90px;

    }
    .modalForm {
        padding-left: 25px;
    }

     .modal {
         left: 40%;
    }
     .itemObj {
        padding: 25px 0 60px 20px;
    }
     .itemImg:hover {
        height: 420px;
        width: 320px;
        margin: 0 25px 0 0;
        float: left;
        border: 3px solid chocolate;
     }
}

