@{
    ViewBag.Title = "Home Page";
}


<div class="banner">
<img src="~/images/krekelBanner.png" alt="de krekel banner" />
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Hoe beginnen? </h2>
        <p>
            Klik op <a href="../Account/Login" class="">Log in</a> om in te loggen door uw gebruikersID en wachtwoord in te geven
        </p>
        <p><a class="btn btn-default" href="../Account/Login">Log In &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Wat in geval van problemen?</h2>
        <p>In geval van problemen neemt u <a href="Contact">Contact</a> op met de beheerder en/of administrator van het systeem</p>
        <p><a class="btn btn-default" href="Contact">Contact &raquo;</a></p>
    </div>
</div>